/* @import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap"); */

/* module styling fixes */
.react-slideshow-zoom-wrapper {
  max-height: 100vh;
}

/* MuiPaper-root MuiDrawer-paper MuiDrawer-paperAnchorLeft MuiPaper-elevation16 */

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
}

.MuiTypography-root.MuiListItemText-primary.MuiTypography-body1.MuiTypography-displayBlock {
  font-weight: 400;
  font-size: 1.5rem;
  color: whitesmoke;
}

* {
  box-sizing: border-box;
}
