.startBtn2 {
  position: relative;
  text-decoration: none;
  background-color: rgba(230, 191, 0, 1);
  display: block;
  margin-bottom: 1.5rem;
  max-height: 5rem;
  border: 3px solid rgb(34, 86, 155);
  border-radius: 45%;
  box-shadow: 2px 9px 0px rgb(64, 113, 177), 12px 19px 5px rgba(0, 0, 0, 0.7);
  outline: none;
  transition: all 0.1s ease;
  animation: glowing 1300ms infinite;
  height: 15vh;
  width: 30vw;
}

@media only screen and (min-width: 768px) {
  .startBtn2 {
    max-width: 20vw;
    height: 15vh;
  }
}

.startBtn2:active {
  box-shadow: 0px 3px 0px rgba(230, 191, 0, 1), 0px 3px 6px rgba(0, 0, 0, 0.9);
  position: relative;
  top: 6px;
}

.enter:hover {
  filter: drop-shadow(5px 5px 5px rgb(64, 113, 177));
  -webkit-filter: drop-shadow(5px 5px 5px rgb(64, 113, 177));
  cursor: pointer;
}

@keyframes glowing {
  0% {
    background-color: rgba(230, 191, 0, 1);
  }
  20% {
    background-color: rgb(238, 218, 118);
  }
  40% {
    background-color: rgb(240, 232, 196);
  }
  60% {
    background-color: rgb(235, 223, 168);
  }
  80% {
    background-color: rgb(238, 218, 118);
  }
  100% {
    background-color: rgba(230, 191, 0, 1);
  }
}
